{% extends "base.html" %}
{% block content %}

<h3 style="text-align: center; margin-top: 1%; color: white;">DELETE BOOK</h3>
<hr style="color: white;">
<div class="container container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
        <form action="/delete" method="post">
            <table class="table table-border" style="color: white;">
                <tr>
                    <td>Book Name </td>
                    <td><input name = "name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-danger" type="submit">DELETE</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% endblock %}