{% extends "userbase.html" %}
{% block content %}

<h3 style="text-align: center; margin-top: 1%; color: rgb(255, 255, 255);">SEARCH BOOK</h3>
<hr>
<div class="container container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
        <form action="/usersearch" method="post">
            <table class="table table-border" style="color: white;">
            <tr>
                <td>Book Name </td>
                <td><input name = "name" type="text" class="form-control"></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn btn-success" type="submit">SEARCH</button></td>
            </tr>
        </table>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            {% if status %}
            <table class="table table-border" style="color: white;">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Author</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                  <th scope="col">Publisher</th>
                </tr>
              </thead>
              <tbody>
                {% for i in books %}
                <tr>
                    <th scope="row">{{ i[1] }}</th>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[5] }}</td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}